<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome to the Expense Tracker</h1>
    </header>
    <nav>
            <a href="index.html">Home</a>
            <a href="login.html">Register</a>
            <a href="register.html">Login</a>
            <a href="add_expense.html">Add Expense</a>
            <a href="edit_expense.html">Edit Expense</a>
            <a href="view_expense.html">View Expense</a>
    </nav>
    <div id="about_heading">
        <div class="About">
            <h2>About</h2>
            <img src="./stressed out.avif"alt="stressed about your finances?" width="300px" height="200px">
        </div>
        <p>Do you always wonder where your money goes?<br />
            Can't remember how you spent it?<br />
            worry no more!<br />
            Managing your expenses and finances could not be made more easier<br />
            Expense tracker is convenient, reliable and easy to use website<br /> 
            that stores all your spending for you or easy tracking
            </p>
            <button class="btn"><a href="login.html">click here to sign in</a></button>    
        </div>
    
    </div>
    <script src="script.js"></script>
</body>
</html>