<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
         <a href="index.html">Home</a>
         <a href="login.html">Register</a>
         <a href="register.html">Login</a>
         <a href="add_expense.html">Add Expense</a>
         <a href="edit_expense.html">Edit Expense</a>
        <a href="view_expense.html">View Expense</a>
    <nav>
    <section>
        <p>
             Register with us to start your journey and be part of our community below;
        </p>
    </section> 
    <form id="registerForm">
        <div class="form">
            <h2>Register Here</h2>
            <input type="email" name="email" placeholder="enter Email">
            <input type="ID" name="ID" placeholder="enter ID Number">
            <input type="Username" name="Username" placeholder="Enter Username">
            <input type="password" name="password" placeholder="Enter password">
            <button type="submit"><a href="register.html">Register</button><br>
            <input type="checkbox"><label for="remember-me">Remember me</label>
        </div>
    </form>   
    <script src="script.js"></script>

</body>
</html>